# Gradle cache
.gradle

/local.properties
/.idea
/.kotlin

# IDEA/Android Studio project files, because
# the project can be imported from settings.gradle.kts
.idea/*
!.idea/copyright
# the project can be imported from settings.gradle.kts
*.iml
# Keep the code styles.
!/.idea/inspectionProfiles
/.idea/inspectionProfiles/*
!/.idea/inspectionProfiles/Project_Default.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
